<h1>New element</h1>
<%= form_for(@element) do |f| %>
<%=   category_form_table :locals => { :f => f, :selectable => true}, :form_partial => 'form', :footer => globalized_submit_tag('create.this', :style => 'margin-top:8px;') %>
<%  end %>
<%= link_to 'Back to elements', elements_path %></p>