<% if !category_associations.empty? %>
     <ul>
<%   category_associations.each do |association| %>
       <li>
<%       stack = association.category_stack
         stack.push(link_to(h(stack.pop), authorized?(hash_for_edit_element_category_association_path) ? edit_element_category_association_path(element, association) : element_category_association_path(element, association))) %>
<%=      stack.join(' > ').html_safe %>
       </li>
<%   end %>
     </ul>
<% end
   if authorized? hash_for_new_element_category_association_path
	 links = [link_to('Add more', new_element_category_association_path(element)), link_to('Add more with UI', new_element_category_association_path(element), :remote => true, :html => {:class => 'ui_dialog'})] %>
<%   links += element.roots.collect{|c| link_to "#{c.title}", associations_path(element, c) } %>
     <p><%= links.join(' | ') %></p>
<% end %>