<h1>New category_element_association</h1>
<%= form_for(:category_element_association, :url => element_category_associations_path(@element)) do |f| %>
<%=   category_form_table :locals => { :f => f, :selectable => true, :single_selection => false}, :form_partial => 'form', :footer => globalized_submit_tag('create.this', :style => 'margin-top:8px;') %>
<%  end %>