<p>
  <b>Element:</b>
  <%=h @category_element_association.element.title %>
</p>
<p><%= @category_element_association.stacked_category %></p>
<p>&nbsp;<br/>
<% if authorized? hash_for_edit_element_category_association_path %>
<%=  link_to ts('edit.this'), edit_element_category_association_path(@element, @category_element_association) %> |
<% end %>
<%= render :partial => 'persistent_links' %></p>